.grid {
	display: grid;
	grid-template-columns: 40px auto 40px;
	height: 400px;
	padding-bottom: 100px;
	/*overflow: scroll;*/
	overflow-y: scroll;
	/*background-color: blue;*/
}
.title {
	margin: 0;
	padding: 10px;
	margin-bottom: 10px;
	color: #fff;
	background-color: green;
}
.operate {
	margin: 10px 0;
	& > button {
		padding: 10px;
		text-align: center;
		outline: none;
		border-width: 0;
		color: #fff;
		background-color: green;
		&:hover {
			opacity: 0.7;
		}
	}
}

.g-item {
	height: 100px;
	border: 1px solid red;
	&-animate {
		transform: translateY(200px);
		transition: all 0.5s;	
		transform-origin: top left;
	} 
	&-show {
		transform: translateY(0);
	}
}

@for $i from 1 through 100 {

  .g-item:nth-child(#{$i}) { 
  	background-color: #010203 * $i * 4
  }
}